.flexcenterback {
    display: flex;
    flex-direction: column;  
  }
  
  .circle {
    border-radius:  10rem;
    padding: 2rem 0rem !important;
    border: rgba(251,90,225,1) 1px solid !important;
  }
  
  .bgwhitecard {
    border-radius: 2rem;
    padding: 25px 0px;
    background: white !important;
  }
  
  .bgdarkcard {
    border-radius: 2rem;
    padding: 25px 0px;
    background: black !important;
  }
  
  .whitemode {
    color: black !important;
  }
  
  .darkmode {
    color: white !important;
  }